arcade/__pycache__/
arcade/migrations/__pycache__/
arcade/migrations/*
!arcade/migrations/__init__.py

manager/__pycache__/

resturant/__pycache__/
resturant/migrations/__pycache__/
resturant/migrations/*
!resturant/migrations/__init__.py


users/__pycache__/
users/migrations/__pycache__/
users/migrations/*
!users/migrations/__init__.py


home/__pycache__/
home/migrations/__pycache__/
home/migrations/*
!home/migrations/__init__.py


db.sqlite3
db.json
.env
